/*
 * Less functions
 */
/*
 * Defaults
 */
html,
body {
  width: 100%;
  height: 100%;
  font: 14px/18px "Open Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #eeeee7;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}
h1,
h2 {
  font-weight: 800;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
.aligncenter {
  display: block;
  margin: 0 auto 20px;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.wp-caption {
  margin-bottom: 24px;
  padding: 10px 0 10px 10px;
  background: rgba(255, 255, 255, 0.8);
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 0 10px;
}
.wp-caption {
  color: #767676;
}
.wp-caption-text {
  margin: 0;
  font-size: 80%;
}
.displaying-map #masthead {
  position: absolute;
  width: 50%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, transparent, #ffffff);
  background: -moz-linear-gradient(center bottom, transparent 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, transparent);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='transparent', GradientType=0);
  height: 100px;
}
.displaying-map #masthead .site-meta {
  margin: 20px 0;
}
.displaying-map #masthead h1 a {
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.displaying-map #masthead #masthead-nav {
  position: relative;
  margin-bottom: 15px;
  -webkit-border-radius: 0 0 3px 3px;
  -khtml-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  -khtml-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
}
.displaying-map #masthead #masthead-nav nav ul > li:hover > a {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.displaying-map #masthead #masthead-nav nav ul > li > a {
  background: transparent;
  -webkit-border-radius: 0 0 3px 3px;
  -khtml-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.displaying-map #masthead #masthead-nav #searchform input#s {
  background: transparent;
}
.loading-map #masthead {
  opacity: 0;
  display: none;
}
/*
 * First map message
 */
#first-map-message {
  padding: 10% 0;
  text-align: center;
  background: #111;
  color: #f0f0f0;
  -webkit-box-shadow: inset 0 20px 40px #0f0f0f;
  -khtml-box-shadow: inset 0 20px 40px #0f0f0f;
  -moz-box-shadow: inset 0 20px 40px #0f0f0f;
  -o-box-shadow: inset 0 20px 40px #0f0f0f;
  box-shadow: inset 0 20px 40px #0f0f0f;
}
#first-map-message h2,
#first-map-message h3 {
  color: #f0f0f0;
}
#first-map-message a {
  color: #77a832;
  text-decoration: none;
}
/*
 * Head
 */
#masthead {
  position: relative;
  background: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -khtml-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#masthead .site-meta {
  margin: 20px 0;
}
#masthead h1 {
  margin: 0 0 5px;
  font-weight: 800;
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 28px;
}
#masthead h1 a {
  color: #77a832;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#masthead h1 a:hover {
  color: #fff;
}
#masthead h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  text-transform: lowercase;
  font-weight: 200;
}
#masthead #masthead-nav {
  float: right;
  position: absolute;
  z-index: 100;
  bottom: 15px;
  right: 0;
  background: #fff;
  -webkit-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#masthead #masthead-nav nav {
  float: left;
}
#masthead #masthead-nav nav ul {
  margin: 0;
  padding: 0;
}
#masthead #masthead-nav nav ul > li {
  margin: 0 1px 0 0;
  padding: 0;
  float: left;
  position: relative;
}
#masthead #masthead-nav nav ul > li:hover > a {
  color: #fff;
  text-shadow: 0 0 0;
  background: #77a832;
  -webkit-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#masthead #masthead-nav nav ul > li:hover > ul {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -khtml-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#masthead #masthead-nav nav ul > li > a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 10px;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 12px;
  -webkit-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#masthead #masthead-nav nav ul > li > ul {
  position: absolute;
  top: 38px;
  width: 200px;
  display: none;
  opacity: 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  background: #f0f0f0;
  -webkit-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#masthead #masthead-nav nav ul > li > ul > li {
  margin: 0;
  padding: 0;
  position: relative;
  float: none;
}
#masthead #masthead-nav nav ul > li > ul > li:hover > a {
  color: #fff;
  padding-left: 14px;
  background: #77a832;
}
#masthead #masthead-nav nav ul > li > ul > li:hover ul {
  display: block;
  opacity: 1;
}
#masthead #masthead-nav nav ul > li > ul > li a {
  border-top: 1px solid #e0e0e0;
  display: block;
  padding: 8px 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
#masthead #masthead-nav nav ul > li > ul > li ul {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 200px;
  width: 150px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #f0f0f0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -khtml-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#masthead #masthead-nav nav ul > li > ul > li ul li {
  margin: 0;
  padding: 0;
  float: none;
}
#masthead #masthead-nav nav ul > li > ul > li ul li:hover a {
  background: #77a832;
  color: #fff;
}
#masthead #masthead-nav #searchform {
  margin: 0;
  float: right;
}
#masthead #masthead-nav #searchform input#s {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin: 0;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0;
  -khtml-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Open Sans";
  width: 66px;
}
#masthead #masthead-nav #searchform input#s:hover,
#masthead #masthead-nav #searchform input#s:focus {
  background: rgba(0, 0, 0, 0.4);
  width: 200px;
}
#masthead #masthead-nav #searchform ::-webkit-input-placeholder {
  color: #f0f0f0;
}
#masthead #masthead-nav #searchform :-moz-placeholder {
  color: #f0f0f0;
}
#masthead #masthead-nav #searchform ::-moz-placeholder {
  color: #f0f0f0;
}
#masthead #masthead-nav #searchform ::-ms-input-placeholder {
  color: #f0f0f0;
}
.home .mapgroup-container,
.single-map .mapgroup-container,
.single-map-group .mapgroup-container,
.home .map-container,
.single-map .map-container,
.single-map-group .map-container {
  min-height: 500px;
  height: 33%;
}
.home .mapgroup-container .streetview,
.single-map .mapgroup-container .streetview,
.single-map-group .mapgroup-container .streetview,
.home .map-container .streetview,
.single-map .map-container .streetview,
.single-map-group .map-container .streetview,
.home .mapgroup-container .map,
.single-map .mapgroup-container .map,
.single-map-group .mapgroup-container .map,
.home .map-container .map,
.single-map .map-container .map,
.single-map-group .map-container .map {
  width: 100%;
  height: 100%;
}
.map-container {
  position: relative;
  z-index: 5;
  min-height: 500px;
  height: 55%;
}
.map-container .map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.map-container .map .leaflet-control-container .leaflet-top {
  top: 125px;
}
.map-container .map .map-legend .map-details-link {
  display: block;
  background: #333;
  margin: 10px -11px -11px;
  color: #f0f0f0;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
}
.map-container .map .map-legend .map-details-link:hover {
  background: #000;
}
.map-container .map-details-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #333;
  padding: 150px 10% 40px;
  min-width: 400px;
  z-index: 100;
}
.map-container .map-details-page .inner {
  height: 95%;
  color: #f0f0f0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.map-container .map-details-page .inner::-webkit-scrollbar {
  background: #333;
  width: 5px;
}
.map-container .map-details-page .inner::-webkit-scrollbar-thumb {
  background: #666;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.map-container .map-details-page .inner h1,
.map-container .map-details-page .inner h2,
.map-container .map-details-page .inner h3,
.map-container .map-details-page .inner h4,
.map-container .map-details-page .inner h5,
.map-container .map-details-page .inner h6 {
  color: #fff;
}
.map-container .map-details-page .inner h2 {
  font-size: 32px;
  line-height: 42px;
  margin: 0 0 30px;
}
.map-container .map-details-page .inner .close {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 7px;
  background: #666;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.map-container .highlight-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -2020px;
  margin-left: -2000px;
  -webkit-border-radius: 2000px;
  -khtml-border-radius: 2000px;
  -moz-border-radius: 2000px;
  -o-border-radius: 2000px;
  border-radius: 2000px;
  border: 1900px solid rgba(0, 0, 0, 0.6);
  pointer-events: all;
  z-index: 3;
}
.map-container .highlight-point.animate {
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: map-point-highlight;
  -webkit-animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
}
.map-container .disable-point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 100px;
}
.map-container .disable-point span {
  font-size: 20px;
  line-height: 20px;
  color: #111;
  font-weight: 800;
  background: #f6f6f6;
  padding: 3px 6px;
}
.map-container .streetview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
html#map-embed .map-container .leaflet-control-container .leaflet-top {
  top: 0;
}
.mapgroup-container {
  height: 55%;
}
.mapgroup-container .map-container {
  min-height: 0;
  height: 100%;
}
.mapgroup {
  position: relative;
  width: 100%;
  height: 100%;
}
.mapgroup .map-nav-container {
  position: absolute;
  bottom: 0;
  z-index: 6;
  left: 20%;
  right: 20%;
}
.mapgroup .map-nav-container .map-nav {
  display: table;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.mapgroup .map-nav-container .map-nav li {
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: center;
}
.mapgroup .map-nav-container .map-nav li a {
  margin: 0 1px 0 0;
  display: block;
  text-decoration: none;
  background: #fefefe;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #e5e5e5));
  background: -ms-linear-gradient(bottom, #fefefe, #e5e5e5);
  background: -moz-linear-gradient(center bottom, #fefefe 0%, #e5e5e5 100%);
  background: -o-linear-gradient(#e5e5e5, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#fefefe', GradientType=0);
  border: 1px solid #fefefe;
  padding: 10px;
  position: relative;
  font-weight: 600;
}
.mapgroup .map-nav-container .map-nav li a.active {
  background: #77a832;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #77a832), color-stop(1, #5b8126));
  background: -ms-linear-gradient(bottom, #77a832, #5b8126);
  background: -moz-linear-gradient(center bottom, #77a832 0%, #5b8126 100%);
  background: -o-linear-gradient(#5b8126, #77a832);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b8126', endColorstr='#77a832', GradientType=0);
  border-color: #77a832;
  color: #fff;
}
.mapgroup .map-nav-container .map-nav li a.active:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #5b8126;
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 1000;
}
@-webkit-keyframes map-point-highlight {
  0% {
    margin-top: -2020px;
    margin-left: -2000px;
    -webkit-border-radius: 2000px;
    -khtml-border-radius: 2000px;
    -moz-border-radius: 2000px;
    -o-border-radius: 2000px;
    border-radius: 2000px;
    border: 1900px solid rgba(0, 0, 0, 0.6);
  }
  100% {
    width: 1900px;
    height: 1900px;
    border: 850px solid rgba(0, 0, 0, 0);
  }
}
.section-title,
.single-post-header,
.page-header {
  /*background: #fefefe;*/
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 40px 0 20px;
  margin: 0 0 20px;
  position: relative;
}
.section-title h1,
.single-post-header h1,
.page-header h1 {
  color: #333;
}
.section-title h2,
.single-post-header h2,
.page-header h2 {
  color: #333;
}
.section-title .post-meta,
.single-post-header .post-meta,
.page-header .post-meta {
  margin: 30px 0 0;
}
.section-title .post-meta p,
.single-post-header .post-meta p,
.page-header .post-meta p {
  margin: 0 0 10px;
  color: #666;
}
.section-title .post-meta p .lsf,
.single-post-header .post-meta p .lsf,
.page-header .post-meta p .lsf {
  margin-right: 10px;
}
.section-title .post-categories,
.single-post-header .post-categories,
.page-header .post-categories {
  margin: 0;
  padding: 0;
  height: 30px;
}
.section-title .post-categories li,
.single-post-header .post-categories li,
.page-header .post-categories li {
  margin: 0;
  padding: 0;
  float: left;
}
.section-title .post-categories li a,
.single-post-header .post-categories li a,
.page-header .post-categories li a {
  display: block;
  font-weight: 800;
  padding: 5px;
  background: #eee;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 5px 0 0;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
#comments {
  border-top: 1px solid #ccc;
  padding-top: 40px;
}
#comments h2 {
  font-size: 30px;
  margin: 0 0 20px;
}
#comments .comment-list {
  margin: 0;
  list-style: none;
}
#comments .comment-list .comment {
  border-bottom: 1px solid #ccc;
}
#comments .comment-list .comment.bypostauthor .comment-author {
  font-size: 110%;
}
#comments .comment-list .comment.bypostauthor .comment-author:after {
  content: '*';
}
#comments .comment-list .comment a {
  text-decoration: none;
}
#comments .comment-list .comment .avatar {
  margin-bottom: 20px;
}
#comments .comment-list .comment .comment-header {
  float: left;
  margin: 0 20px 20px 0;
}
#comments .comment-list .comment .comment-meta {
  margin-bottom: 10px;
}
#comments .comment-list .comment .comment-author cite {
  font-weight: 600;
}
#comments .comment-list .comment .comment-date {
  font-size: 11px;
  margin: 0 0 20px;
  display: inline;
  color: #999;
}
#comments .comment-list .comment .comment-date a {
  color: #999;
}
#comments .comment-list .comment .comment-edit-link {
  font-size: 11px;
}
#comments .comment-list .comment .comment-edit-link a {
  color: #999;
}
#comments .comment-list .comment .comment-content {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 24px;
}
#comments .comment-list .comment .reply {
  margin-top: -30px;
  float: right;
  line-height: 35px;
}
#comments .comment-list .comment .reply a {
  padding: 10px;
  background: #333;
  color: #f0f0f0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 200;
}
#comments .comment-list .comment .children {
  margin: 0;
  padding: 0;
}
#comments .comment-list .comment .children .comment {
  border: 0;
}
#comments #respond textarea {
  width: 100%;
}
#sidebar .widgets {
  margin: 0;
  padding: 0;
}
#sidebar .widgets .widget {
  margin: 0 0 40px;
  padding: 0;
}
#sidebar .widgets .widget .widget-title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px;
  font-weight: 800;
  color: #333;
}
#sidebar .widgets .widget ul {
  margin: 0;
  padding: 0;
}
#sidebar .widgets .widget ul li {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}
.posts-section .posts-list li {
  margin-bottom: 20px;
}
.posts-section .posts-list .sticky article {
  border-top: 2px solid #77a832;
}
.posts-section .posts-list article {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.posts-section .posts-list article .post-image {
  width: 10%;
  height: 50%;
}
.posts-section .posts-list article .post-header {
  padding: 20px 20px 0;
}
.posts-section .posts-list article .post-header h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}
.posts-section .posts-list article .post-header h3 a {
  text-decoration: none;
}
.posts-section .posts-list article .post-header p.meta {
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 10px;
  color: #999;
}
.posts-section .posts-list article .post-header p.meta span {
  display: block;
}
.posts-section .posts-list article .post-content {
  padding: 0 20px 20px;
}
.posts-section .posts-list article .post-content h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}
.posts-section .posts-list article .post-content h3 a {
  text-decoration: none;
}
.posts-section .posts-list article .post-content .post-excerpt {
  max-height: 108px;
  overflow: hidden;
}
.posts-section .posts-list article .post-content .post-excerpt p {
  font-size: 12px;
  line-height: 18px;
}
.posts-section .posts-list article .actions {
  padding: 0 20px 15px;
  background: #77a832;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69942c), color-stop(1, #77a832));
  background: -ms-linear-gradient(bottom, #69942c, #77a832);
  background: -moz-linear-gradient(center bottom, #69942c 0%, #77a832 100%);
  background: -o-linear-gradient(#77a832, #69942c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a832', endColorstr='#69942c', GradientType=0);
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.posts-section .posts-list article .actions form {
  display: inline;
  margin: 0;
}
.posts-section .posts-list article .actions a,
.posts-section .posts-list article .actions button,
.posts-section .posts-list article .actions .button,
.posts-section .posts-list article .actions input[type=submit] {
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
  display: block;
  float: left;
  padding: 0;
  margin: 10px 10px -5px 0;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.2s ease-in-out;
  -khtml-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  border: 0;
  overflow: visible;
}
.posts-section .posts-list article .actions:hover a,
.posts-section .posts-list article .actions:hover button,
.posts-section .posts-list article .actions:hover .button,
.posts-section .posts-list article .actions:hover input[type=submit] {
  color: rgba(255, 255, 255, 0.7);
}
.posts-section .posts-list article .actions:hover a:hover,
.posts-section .posts-list article .actions:hover button:hover,
.posts-section .posts-list article .actions:hover .button:hover,
.posts-section .posts-list article .actions:hover input[type=submit]:hover {
  color: rgba(255, 255, 255, 0.9);
}
.posts-section .navigation {
  text-align: center;
}
.posts-section .navigation a {
  padding: 10px;
  text-decoration: none;
  color: #666;
}
.posts-section .navigation a:hover {
  color: #333;
}
.posts-section.featured {
  position: relative;
  width: 100%;
  height: 500px;
  border-bottom: 20px solid #333;
}
.posts-section.featured .map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.posts-section.featured .map-container .map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 125%;
  height: auto;
}
.posts-section.featured h2 {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  color: #fff;
}
.posts-section.featured .container {
  padding-top: 20px;
}
.posts-section.featured .container .featured-content {
  position: relative;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
}
.posts-section.featured .container .featured-content li {
  position: relative;
  top: 0;
  left: -800px;
  -webkit-transition: left 0.2s ease-in-out;
  -khtml-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  height: 0;
  margin: 0;
}
.posts-section.featured .container .featured-content li.active {
  left: 0;
  height: auto;
}
.posts-section.featured .container .featured-content li .post-header h3 {
  font-size: 38px;
  line-height: 38px;
  font-weight: 800;
  margin: 0 0 20px;
}
.posts-section.featured .container .featured-content li .post-header h3 a {
  text-decoration: none;
}
.posts-section.featured .container .featured-content li .post-header h3 a:hover {
  color: #3f591b;
}
.posts-section.featured .container .featured-content li .post-header .meta {
  font-size: 11px;
  line-height: 11px;
  font-weight: 800;
  color: #666;
  display: inline;
  background: #fff;
  padding: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.posts-section.featured .container .featured-content li .post-content {
  margin: 10px 0 20px;
}
.posts-section.featured .container .featured-content li .post-content p {
  font-size: 14px;
  line-height: 22px;
  max-height: 66px;
  overflow: hidden;
  margin: 0;
}
.posts-section.featured .container .featured-content li .actions {
  width: 50%;
}
.posts-section.featured .container .featured-content li .actions a {
  background: #77a832;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #77a832), color-stop(1, #69942c));
  background: -ms-linear-gradient(bottom, #77a832, #69942c);
  background: -moz-linear-gradient(center bottom, #77a832 0%, #69942c 100%);
  background: -o-linear-gradient(#69942c, #77a832);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69942c', endColorstr='#77a832', GradientType=0);
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #69942c;
  padding: 45px 8px;
  text-decoration: none;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.15);
}
.posts-section.featured .container .featured-content li .actions a:hover {
  color: #ffffff;
  background: #77a832;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69942c), color-stop(1, #5b8126));
  background: -ms-linear-gradient(bottom, #69942c, #5b8126);
  background: -moz-linear-gradient(center bottom, #69942c 0%, #5b8126 100%);
  background: -o-linear-gradient(#5b8126, #69942c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b8126', endColorstr='#69942c', GradientType=0);
}
.posts-section.featured .container .slider-controllers {
  position: relative;
  z-index: 3;
  margin: 20px 0;
  float: right;
}
.posts-section.featured .container .slider-controllers ul {
  margin: 0;
  padding: 0;
}
.posts-section.featured .container .slider-controllers ul li {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 0 0 0 10px;
  text-indent: -9999px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.posts-section.featured .container .slider-controllers ul li.active {
  background: #77a832;
  -webkit-transform: scale(1.5);
  -khtml-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.posts-section.featured .container .slider-controllers ul li:hover {
  -webkit-transform: scale(1.25);
  -khtml-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  background: #eef7e2;
}
#colophon {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #f0f0f0;
  padding: 20px 0 15px 0;
  margin-top: 40px;
}
#colophon a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
#colophon a:hover {
  color: #eee;
}
#colophon #footer-nav .menu {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#colophon #footer-nav .menu > li {
  float: left;
  margin: 0 40px 0 0;
}
#colophon #footer-nav .menu > li > a {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
#colophon #footer-nav .menu > li ul {
  margin: 0;
  padding: 0;
}
#colophon #footer-nav .menu > li ul li {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
#colophon .credits {
  font-size: 11px;
  text-align: right;
}
#colophon .credits p {
  margin: 0;
}
#jeo-share-widget {
  margin: 0 0 -40px 0;
}
#jeo-share-widget #configuration {
  margin: -20px 0 0;
}
